@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,900;1,100;1,400&display=swap');

:root {
    --black: #313131;
    --white: #E8E8E8;
    --gray: #515051;
    --accent-orange: #D09D6F;
    --accent-red: #C17564;
    --green: #707970;
    --blue: #2B4755;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --36px: 2.25rem;
    --48px: 3rem;
}


body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
    font-size: var(--18px);
    min-height: 100vh;
    background-color: var(--black);
}

picture {
    display: block;
}

picture img {
    display: block;
    width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
}

ol, ul {
    /* list-style: none; */
    padding: 8px 32px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

h1 {
    font-size: var(--36px);
}

p {
    color: var(--white);
}

a {
    display: block;
    text-decoration: none;
    color: var(--accent-red);
}

p a {
    display: inline;
    text-decoration: underline;
}

li {
    color: var(--white);
}


.inner-column {
    padding: 0px 16px;
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
}

h1 > span {
    display: block;
}

h1 > span:first-child {
    color: var(--accent-orange);
    font-size: var(--36px);
    margin-bottom: var(--16px);
}

h1 > span:last-child {
    color: var(--accent-red);
}

.intro-section .inner-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 32px;
}

.intro-section p {
    font-size: var(--20px);
    font-style: italic;
}