body {
    padding: 32px 0px;
}

h1, h2, h3 {
    color: var(--white);
    margin-bottom: 1em;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

.entry {
    padding: 32px 0px;
}

.entry:not(:last-child) {
    border-bottom: 2px dashed var(--white);
}